.background{
      width: 100%;
      height: 768px;
      background-color: rgb(172, 170, 170);
}

.card-principal{
      width: 1000px;
      height: 520px;
      background-color: white;
      margin-left: 13%;
      position: relative;
      top: 60px;
      border-radius: 3em;
}

#botao-sites{
      margin-top: 13%;
      margin-left: 6%;
}

h2{
      position: relative;
      left: 5%;
      top: 12%;
}

h4{
      border: 1px solid red;
      margin-right: 600px;
      position: relative;
      top: 17%;
      left: 5%;
      text-align: center;
}